body {
    text-align: center;
    background: #193549;
    color: white;
    font-family: 'helvetica neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
}
  
h1 {
    text-align:center;
    color: #ff9000;
}

#image {
    max-width: 45%;
    /*border:20px solid #ff9000;*/

}

.controls {
    margin-bottom: 50px;
}
  
input {
    width: 100px;
}


/* 
To blur: filter: blur(8px);
Spacing: border: 20px solid #ff9000;
Base: color picker to feed the border in spacing
*/